  input[type="checkbox"] {
    margin-right: 6px;
  }

  label {
    margin-bottom: 4px;
    display: inline-block;
  }

input, select {
  margin-right: 10px;
  margin-top: 8px;
}

.main-title {
  text-align: center;
  color: #fffc33;
  font-family: 'Garamond', serif, cursive: 
}
